@import '../../global.scss';

.farm {
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: auto;
	background: linear-gradient(#121212, #121212) padding-box, linear-gradient(#f3ba2a, #121212) border-box;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	border-radius: 10px;

	.infoArea {
		width: 100%;
		background: #221e16;
		// padding: 10px;
		margin-top: 30px;
		border-radius: 5px;
	}

	.swapIcon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		img {
			height: 20px;
		}
	}

	.inputBox {
		padding: 15px 20px 20px 20px;
		border-radius: 10px;
		border: 1px solid #ffffff4d;
		display: flex;
		flex-direction: column;
		position: relative;
		margin-top: 30px;

		position: relative;

		.balance{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;

			p{
				font-size: 0.8rem;
				color:#FFFFFF99;
;
			}
		}

		.bal {
			text-align: end;
			font-size: 0.9rem;
			color: rgba(255, 255, 255, 0.6);
			margin-bottom: 10px;
			cursor: pointer;
		}

		.autoFillBusd {
			font-size: 0.8rem;
			text-align: right;
			color: brown;
			cursor: pointer;
		}

		.logo {
			display: flex;
			width: 40%;
			align-items: center;
			cursor: pointer;

			img {
				margin-right: 10px;
				height: 30px;
			}

			p {
				color: gold;
				font-weight: bold;
				font-size: 1rem;
				margin-right: 10px;
			}

			#dropdown {
				height: 10px;
			}
		}
		.box {
			width: 150px;
			background: #1a1a1a;

			position: absolute;
			top: 50px;
			z-index: 100;
			// box-shadow: rgba(99, 99, 99, 0.377) 0px 2px 8px 0px;
			padding: 5px;
			cursor: pointer;
			padding: 10px 10px 10px 10px;
			border-radius: 5px;

			.box__item {
				display: flex;
				align-items: center;
				padding: 5px 5px 5px 5px;
			
				margin-bottom: 10px;
				border-radius: 5px;

				p {
					font-size: 1rem;
				}
				

				img {
					margin-right: 10px;
				}

				img:nth-last-child(2){
					height: 24px;
				}

				&:hover {
					background-color: rgba(255, 255, 255, 0.08);
				}
			}
		}

		input {
			background: none;
			border: none;
			color: rgba(217 217 212 / 90%);
			border: none;
			outline: none;
			font-weight: bold;
			text-align: right;
			width: 60%;
			font-size: 1.2em;
		}
	}
	.slippage {
		padding-top: 20px;
		padding-left: 5px;

		p {
			font-size: 0.8rem;
			margin-bottom: 20px;
			color: rgba(217 217 212 / 90%);
		}

		.slippage__buttons {
			display: flex;
			justify-content: space-between;

			button {
				width: 100%;
				margin: 0px 5px 0px 5px;
				height: 40px;
				border-radius: 8px;
				cursor: pointer;
				border: none;
				outline: none;
				background: rgba(243, 186, 47, 0.14);
				color: #f3ba2f;
				font-family: $boldFont;
				cursor: not-allowed;
			}

			button:nth-child(1) {
				margin-left: 0px;
			}

			button:focus,
			button.active {
				background: #f3ba2f;
				color: #ffffff;
				cursor: not-allowed;
			}

			input {
				width: 100%;
				margin: 0px 5px 0px 5px;
				height: 40px;
				border-radius: 8px;
				border: none;
				outline: none;
				text-align: center;
				background: rgba(255, 255, 255, 0.14);
				color: rgba(255, 255, 255, 0.6);
				font-family: $boldFont;
			}

			// input:nth-child(1) {
			// 	margin-left: 0px;
			// }

			input:focus,
			input.active {
				border: 1px solid #f3ba2f;
				color: #f3ba2f;
				cursor: not-allowed;
			}
		}

		.tolerance {
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.price {
				color: #f3ba2f;
				font-weight: 500;
			}
		}
	}
	.buttons {
		button {
			@include button__disabled;
		}
	}
	.bottom__info {
		padding-top: 30px;
		margin-top: 20px;
		border-style: dashed;
		border-top: 1px solid #474e47;
		border-left: 1px solid #121212;
		border-right: 1px solid #121212;
		// background-image: linear-gradient(to right, #FFFFFF33 50%);
		// background-position: top;
		background-size: 10px 1px;
		// background-repeat: repeat-x;

		border-width: 2px;
		border-style: dashed;
	}

	.bottom__info__liquidity {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		font-size: 0.8rem;
	}
	.bottom__info__tokens {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		font-size: 0.8rem;

		p {
			color: #f3ba2a;
		}
	}
}
