@import '../../global.scss';
// $boldFont : 'Poppins',
// sans-serif;

.tableheader {
    margin: auto;   
    color: rgba(217 217 212 / 90%);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: $boldFont;
}
.totalpiggybank {
    font-size: 10px;
    padding: 3px;
    padding-right: 12px;
    padding-left: 12px;
    height: 10px;
    border-radius: 8px;
    background-color: #808183;
    margin-left: 6px;
}
.tablebody {
    z-index: -400;
    font-family: $boldFont;
    overflow-x: scroll;
    overflow-y: scroll;
    // max-height: 500px;
    margin: auto;   
    max-width: 62.5em;
    background: rgba(243, 186, 47, 0.1);
    border-image: linear-gradient(180deg, #F3BA2F, #121212) 1;

    border-radius: 10px;
    border-width: 0.6px;
    border-style: solid;
    border-color: transparent;
    background: linear-gradient(#121212,#121212) padding-box, linear-gradient(#f3ba2a,#121212) border-box;
    margin-bottom: 22px;
}
@media (min-width: 800px) and (max-width:1200px) { 
    .tablebody {
        max-width: 700px;
    }
}
@media (min-width: 600px) and (max-width: 800px) { 
    .tablebody {
        max-width: 560px;
    }
}

.tablebody::-webkit-scrollbar {
    display: none;
}
.table {
    width: 1000px;
    color: rgba(217 217 212 / 90%);
    margin: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    // max-height: 500px;
    z-index: -200;

}
@media (min-width: 600px) and (max-width: 800px) { 
    .table {
        max-width: 600px;
    }
}
.table::-webkit-scrollbar {
    display: none;
}
tbody {
    text-align: center;
    padding: 40px;
}
th {
    font-size: 14px;
    line-height: 4;
}
table{border-collapse:collapse}
td {
    font-size: x-small;
}