@mixin flex($dir, $align-item, $justift-content) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justift-content;
    align-items: $align-item;
}

$orange : #F3BA2F;
$dark : #000000;

.side{
    height: calc(100vh - 40px);
    width: 200px;
    border-radius: 20px;
    background: $dark;
    padding: 20px 20px 0px 0px;
    position: relative;

    header{

        @include flex(row, center,flex-start);
        
        padding-top: 20px;
        margin-bottom: 50px;
        padding-left: 15px;

        h3{
            color: orange;
            font-size: 16px;
        }

        img{
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }
    
    ul{
        color: white;
        list-style: none;

        .link{
            padding: 0px 0px 0px 15px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.3s ease;
            color: white;
            text-decoration: none;
            margin-bottom: 30px;
            

            p{
                font-size: 12px;
                cursor: pointer;
            }

            img{
                height: 18px;
                margin-right: 10px;
                width: 18px;
            }

            svg{
                color: white;
                margin-right: 10px;
                font-size: 20px;
            }
        }

        .link:focus{
            border-left: 3px solid #F3BA2F;
        }

        .link:focus svg{
            color: #F3BA2F;
        }
        .link:focus p {
            color: #F3BA2F;
        }

        
    }

    .side__coinprice{
        width: 100%;
        padding: 10px;
        position: absolute;
        bottom: 0px;
        right: 0px;

        .side__coinprice__in{
            width: 100%;
            height: 100%;
            padding: 20px;
            background: #333333;
            border-radius: 5px;
            ul{
                li{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    img{
                        height: 20px;
                        margin-right: 10px;
                        
                    }

                    p{
                        font-size: 12px;
                    }
                }
            }
        }

       
    }
}