@mixin flex($dir, $align-item, $justift-content) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justift-content;
    align-items: $align-item;
}

$orange : #F3BA2F;
$dark : #000000;

.side{
    height: calc(100vh - 20px);
    width: 250px;
    border-radius: 20px;
    background: $dark;
    padding: 20px 20px 0px 0px;
    position: sticky;
    top: 0;
    transition: 0.3s;
    background: #1A1A1A;

    header{

        @include flex(row, center,flex-start);
        
        padding-top: 6px;
        margin-bottom: 50px;
        padding-left: 15px;

        h3{
            color: orange;
            font-size: 16px;
        }

        img{
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }
    
    ul{
        color: white;
        list-style: none;

        .link{
            padding: 0px 0px 0px 15px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.3s ease;
            color: white;
            text-decoration: none;
            margin-bottom: 30px;
            transition: 0.3s;
            

            p{
                font-size: 12px;
                cursor: pointer;
            }

            img{
                height: 18px;
                margin-right: 10px;
                width: 18px;
            }

            svg{
                color: white;
                margin-right: 10px;
                font-size: 20px;
            }
        }

        .link__active{
            border-left: 3px solid #F3BA2F;
        }

        .link__active svg{
            color: #F3BA2F;
        }

        .link__active p {
            color: #F3BA2F;
        }

        // .link:focus{
        //     border-left: 3px solid #F3BA2F;
        // }

        // .link:focus svg{
        //     color: #F3BA2F;
        // }
        // .link:focus p {
        //     color: #F3BA2F;
        // }

        
    }

    .side__coinprice{
        width: 100%;
        padding: 16px;
        position: absolute;
        bottom: 48px;
        right: 0px;
        height: 100px;

        .side__coinprice__in{
            width: 100%;
            height: 100%;
            padding-left: 20px;
            padding-top: 8px;
            background:  #000000;
            border-radius: 5px;

            ul{
                li{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    img{
                        height: 20px;
                        margin-right: 10px;
                        
                    }

                    p{
                        font-size: 12px;
                    }
                }
            }
        }

       
    }
}
.side__socials {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
        bottom: 10px;
        right: 14px;
}
.side__socials__icon {
    margin-left: 14px;
    margin-right: 14px;
}

@media screen and (max-width : 768px ) {
    .side{
        display: none;
    }
}