.farms__wrap {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	.farms {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 70px;
		padding: 50px 60px 50px 80px;
        max-width: 1500px;

		div {
			// height: 400px;
		}
	}
}

@media screen and (max-width: 480px) {
	.farms__wrap {
		.farms {
			
			grid-template-columns: 1fr;
			padding: 50px 20px 50px 20px;
			column-gap: 0px;
			row-gap: 70px;
		}
	}
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
	.farms__wrap {
		.farms {
			width: 100%;
			grid-template-columns: 1fr 1fr;
			padding: 50px 20px 50px 20px;
		}
	}
}
