.transaction ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.transaction ul {
	padding: 10px;
	list-style: none;
}

.transaction ul li:nth-child(1) {
	display: flex;
	justify-content: flex-start;
	width: 33.3%;
}

.transaction ul li:nth-child(2) {
	display: flex;
	justify-content: center;
	width: 33.3%;
}

.transaction ul li:nth-child(3) {
	display: flex;
	justify-content: flex-end;

	width: 33.3%;
}

.transaction ul li p {
	color: white;
	font-size: 11px;
	font-family: 'Poppins', sans-serif;
}

#text__small {
	font-size: 10px;
}
