.infobody {
    justify-self: center;
    margin: 2% auto !important;
    z-index: 50;
    background-color: #1A1A1A;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden !important;
    border-radius: 16px;
    max-width: 1000px;
    height: 760px !important;
    left: 0 !important; 
    right: 0 !important;
}

.infobody__disable {
    display: none;
}

h1 {
    color: #F3BA2F;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 52px !important;
}
.faq__body {
    padding-left: 36px;
    padding-right: 36px;
}

h2 {
    color: rgba(255, 255, 255, 0.774);
}
p {
    margin-bottom: 24px;
    color: #ffffff89;
    line-height: 1.6;
}
.icon {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 46px;
    margin-right: 16px !important;
}