@import '../../global.scss';

$grey : #FFFFFF4D;
$gold :  #F3BA2F;

.reward{
    width: 100%;
    
    .header{
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
    }

    h3{
        color: white;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 14px;
        font-family: $boldFont;
        letter-spacing: 2px;
    }

    .reward__claim{
        // height: 200px;
        width: 100%;
        background: #221E16;
        border-radius: 10px;

        .reward__claim__box{
            width: 100%;
            justify-content: space-between;
            display: flex;
            

            p{
                color: rgba(255, 255, 255, 0.6);
                font-size: 12px;
            }
        }
    }

    form {
        width: 100%;
        // height: 100px;
    
    
        .inputWrap {
            border-radius: 10px;
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #FFFFFF4D;
    
            .inputBox {
    
                display: flex;
                justify-content: space-between;
    
                .logo {
    
                    display: flex;
                    align-items: center;
    
                    img {
                        margin-right: 10px;
                    }
    
                    p {
                        color: $gold;
                        font-weight: bold;
                    }
    
                }
    
                input {
    
                    background: none;
                    border: none;
                    color: white;
                    border: none;
                    outline: none;
                    font-weight: bold;
                    text-align: right;
                    width: 100%;
                    font-size: 20px;
    
                }
            }
    
            .claimable {
                color: $grey;
                font-size: 12px;
                margin-top: 20px;
            }
        }
    
        button {
            width: 100%;
            height: 50px;
            margin-top: 20px;
            border-radius: 10px;
            border: none;
            background-color: #2E2E2E;
            ;
            color: $grey;
        }
    
    
    }

    .xpigs{
        
        color: white;
        font-size: 12px;
        margin-top: 20px;

        span{
            color: $gold;
            
        }
    }

    .lock{
        color: white;
        font-weight: 500;
        margin-top: 10px;font-size: 12px;
    }

    .timelock{
        color: #FFFFFF99;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        
        
        span{
            color:$gold;
        }

    }

    .button__disabled {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        background-color: #474E47;
        color: $grey;
        cursor: not-allowed;
    
    }
    
    .button__enabled {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        font-weight: 600;
        cursor: pointer;
        color: white;
        background: linear-gradient(93.41deg, #47A348 1.19%, #3D6B3D 99.16%);
        ;
    }
}