@import '../../global.scss';

.farm {
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: auto;
	background: linear-gradient(#121212, #121212) padding-box, linear-gradient(#f3ba2a, #121212) border-box;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	border-radius: 10px;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 10px;
		.tokens {
			display: flex;
			align-items: center;
			.tokens__icons {
				margin-right: 20px;
				img {
					height: 23px;
				}
				.img__two {
					margin-left: -10px;
				}
			}
			.token__names {
				p {
					color: white;
					font-size: 1rem;
					font-weight: 600;
				}
			}
		}
		.core {
			display: flex;

			align-items: center;
			.core__button {
				display: flex;

				align-items: center;
				padding: 3px 10px;
				border-radius: 20px;
				border: 1px solid #f3ba2a;
				color: #f3ba2a;
				font-size: 0.8rem;
				margin-right: 10px;
				img {
					margin-right: 10px;
				}
			}
			.core__circle {
				padding: 6px;
				border-radius: 50%;
				background: rgba(243, 186, 47, 0.1);
				p {
					font-size: 0.6rem;
					color: #f3ba2a;
				}
			}
		}
	}

	.staked {
		width: 100%;
		background: #221e16;
		padding: 10px;
		border-radius: 5px;
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			color: white;
			font-size: 0.8rem;
			font-weight: 500;

			span {
				color: #f3ba2a;
			}
		}

		button {
			width: 100px;
			padding: 3px 0px 3px 0px;
			border-radius: 5px;
			background-color: #f3ba2a;
			border: none;
			outline: none;
			color: white;
		}
	}

	.infoArea {
		width: 100%;
		background: #221e16;
		// padding: 10px;
		margin-top: 30px;
		border-radius: 5px;
	}
	.inputBox {
		padding: 15px 20px 20px 20px;
		border-radius: 10px;
		border: 1px solid #ffffff4d;
		display: flex;
		flex-direction: column;

		margin-top: 30px;

		position: relative;

		.bal {
			text-align: end;
			font-size: 0.9rem;
			color: rgba(255, 255, 255, 0.6);
			margin-bottom: 10px;
			cursor: pointer;
		}

		.autoFillBusd {
			font-size: 0.8rem;
			text-align: right;
			color: brown;
			cursor: pointer;
		}

		.logo {
			display: flex;
			width: 40%;
			align-items: center;

			img {
				margin-right: 10px;
				height: 30px;
			}

			p {
				color: gold;
				font-weight: bold;
				font-size: 1rem;
			}
		}

		input {
			background: none;
			border: none;
			color: rgba(217 217 212 / 90%);
			border: none;
			outline: none;
			font-weight: bold;
			text-align: right;
			width: 60%;
			font-size: 1.2em;
		}
	}

	.collapsible {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0px 10px 0px;
		cursor: pointer;

		p {
			font-size: 0.8rem;
		}
	}

	.collapseCover {
	}

	.buttons {
		button {
			@include button__disabled;
		}
	}
	.bottom__info {
		padding-top: 30px;
		margin-top: 20px;
		border-style: dashed;
		border-top: 1px solid #474e47;
		border-left: 1px solid #121212;
		border-right: 1px solid #121212;
		// background-image: linear-gradient(to right, #FFFFFF33 50%);
		// background-position: top;
		background-size: 10px 1px;
		// background-repeat: repeat-x;

		border-width: 2px;
		border-style: dashed;
	}

	.bottom__info__liquidity {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		font-size: 0.8rem;
	}
	.bottom__info__tokens {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		font-size: 0.8rem;

		p {
			color: #f3ba2a;
		}
	}
}

@media screen and (max-width: 1024px) {
	.farm {
		header {
			.tokens {
				.token__names {
					p {
						font-size: 0.8rem;
						
					}
				}
			}
		}
	}
}
