.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
@media (max-width: 600px){ 
    .aboutbody {
        margin-top: 100px;
    }
}
p, li {
    color: #d9d9d9e6;
    line-height: 1.6em;
    font-size: 1.12em;
}
  
@media (max-width: 890px) {
    .about {
        display: initial;
        justify-items: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .card1 > P{
        margin-bottom: 24px;
    }
}
.card1 {
    max-width: 580px;
}
.card1 > h2{
    color: #F3BA2F;
    margin-bottom: 32px;
}
.card1 > P{
    color: rgba(217 217 212 / 90%);
}

.aboutimg {
    max-width: 472px;
    height: 260px !important;  
}
@media (max-width: 890px) {
    .aboutimg {
        max-width: 422px;
        height: 220px !important;
        display: table;
        margin: 0 auto;
    }
}
//
//
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    flex-direction: row-reverse;
}
@media (max-width: 890px) {
    .features {
        display: initial;
        flex-direction: column-reverse;
        margin-top: 20px
    }
   .cardlist{
        color: rgba(217 217 212 / 90%);
        margin-bottom: 20px;
        }
    }

.card2 {
    max-width: 580px;
}
.cardlist{
    color: rgba(217 217 212 / 90%);
    margin-left: 20px;
}
.cardlist > li {
    margin-top: 4px;
}
.card2 > h2{
    color: #F3BA2F;
    margin-bottom: 32px;
}
.featuresimg {
    max-width: 472px;
    height: 260px !important;
    margin-right: 80px;
}
@media (max-width: 890px) {
    .featuresimg {
        max-width: 422px;
        height: 220px !important;
        display: table;
        margin: 0 auto;
    }
}
//
//
.multiplier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}
@media (max-width: 890px) {
    .multiplier {
        display: initial;
        justify-items: center;
        align-items: center;
        
    }
}
.card3 {
    max-width: 580px;
}
.card3 > h2{
    color: #F3BA2F;
    margin-bottom: 32px;
}
.card3 > P{
    color: rgba(217 217 212 / 90%);
    margin-bottom: 20px;
}
.multiplierimg {
    max-width: 472px;
    height: 260px !important;
}
@media (max-width: 890px) {
    .multiplierimg {
        max-width: 422px;
        height: 220px !important;
        display: table;
        margin: 0 auto;
    }
    .card3 {
        margin-top: 24px
    }   
    .multiplierlist{
        margin-bottom: 20px;
    }
}
.multiplierlist{
    color: rgba(217 217 212 / 90%);
    margin-left: 20px;
    margin-top: 20px;
}
.multiplierlist > li {
    margin-top: 4px;
}
//
//
.referral {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    flex-direction: row-reverse;
}
@media (max-width: 890px) {
    .referral {
        display: initial;
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px){ 
    .referral {
        margin-top: 100px;
    }
}
.card4 {
    max-width: 580px;
}
.card4 > P{
    color: rgba(217 217 212 / 90%);
}
.referrallist{
    color: rgba(217 217 212 / 90%);
    margin-top: 10px;
    list-style: none;

}
.referrallist > li {
    margin-top: 4px;
    margin-bottom: 6px;
    margin-right: 10px;
    color: #F3BA2F;
    display: inline-block;
    background-color: rgba(243, 186, 47, 0.14);
    border-radius: 4px;
    padding: 8px;
}
.card4 > h2{
    color: #F3BA2F;
    margin-bottom: 32px;
}
.referralimg {
    max-width: 300px;
    height: 200px !important;
    margin-right: 60px;
}
@media (max-width: 890px) {
    .referralimg {
        // display: initial;
        max-width: 422px;
        height: 220px !important;
        display: table;
        margin: 0 auto;
    }
    .referrallist{
        margin-bottom: 20px;  
    }
}