@import '../../global.scss';

.pigspen__wrap{
    @include center;
    position: relative;
    
    .pigspen{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        width: 100%;
        max-width: 1500px;

        .cards {
        
            width: 40%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 50px;
        
            div {
        
                background: #221E16;
                ;
                // height: 80px;
                border-radius: 10px;
            }
        }

        .credit__wrap {
        
            background: linear-gradient(#121212, #121212) padding-box,
            linear-gradient(#f3ba2a, #121212) border-box;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
            border-radius: 10px; 
            width: 40%;
            .credit__wrap__in{
                padding: 20px;
                // background: black;
                    .tabs {
                    width: 100%;
                
                    display: flex;
                
                    .tab__one {
                
                        color: white;
                        width: 60%;
                        height: 40px;
                        cursor: pointer;
                        border-bottom: 2px solid #333333;
                        transition: 0.5s;
                
                
                    p{
                        text-align: center;
                        font-size: 14px;
                        text-align: center;
                        font-size: 14px;
                        font-family: $boldFont;
                        }
                    }
                
                    .tab__one__active {
                        border-bottom: 2px solid #F3BA2FE5;
                    }
                
                    .tab__two {
                        color: white;
                        width: 50%;
                        cursor: pointer;
                        border-bottom: 2px solid #333333;
                        transition: 0.5s;
                
                        p{
                            text-align: center;
                            font-size: 14px;
                            // font-weight: 600;
                            text-align: center;
                            font-size: 14px;
                            // font-weight: 600;
                            font-family: $boldFont;
                        }
                    }
                
                    .tab__two__active {
                        border-bottom: 2px solid  #F3BA2FE5;;
                    }
                }
            }
        
            

            
        }
        .pig{
            position: fixed;
            right: 0px;
            bottom: 0px;
            height: 250px;

        }
    }    
}


@media screen and (max-width:1200px) {
    .pigspen__wrap{
            .pigspen{

            padding: 50px 20px 20px 20px;
            .credit__wrap{
                width: 100%;
            }

            .pig{
                display: none;
            }
        }
    }
    
}