@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.pigspen__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.pigspen__wrap .pigspen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  width: 100%;
  max-width: 1500px;
}

.pigspen__wrap .pigspen .credit__wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#121212)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#f3ba2a), to(#121212)) border-box;
  background: linear-gradient(#121212, #121212) padding-box, linear-gradient(#f3ba2a, #121212) border-box;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 10px;
  width: 30%;
}

.pigspen__wrap .pigspen .credit__wrap .credit__wrap__in {
  padding: 20px;
}

.pigspen__wrap .pigspen .credit__wrap .credit__wrap__in .tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pigspen__wrap .pigspen .credit__wrap .credit__wrap__in .tabs .tab__one {
  color: white;
  width: 60%;
  height: 40px;
  cursor: pointer;
  border-bottom: 2px solid #333333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pigspen__wrap .pigspen .credit__wrap .credit__wrap__in .tabs .tab__one p {
  text-align: center;
  font-size: 14px;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.pigspen__wrap .pigspen .credit__wrap .credit__wrap__in .tabs .tab__one__active {
  border-bottom: 2px solid #F3BA2FE5;
}

.pigspen__wrap .pigspen .credit__wrap .credit__wrap__in .tabs .tab__two {
  color: white;
  width: 50%;
  cursor: pointer;
  border-bottom: 2px solid #333333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pigspen__wrap .pigspen .credit__wrap .credit__wrap__in .tabs .tab__two p {
  text-align: center;
  font-size: 14px;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.pigspen__wrap .pigspen .credit__wrap .credit__wrap__in .tabs .tab__two__active {
  border-bottom: 2px solid  #F3BA2FE5;
}

.pigspen__wrap .pigspen .pig {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 250px;
}

@media screen and (max-width: 1200px) {
  .pigspen__wrap .pigspen {
    padding: 50px 20px 20px 20px;
  }
  .pigspen__wrap .pigspen .credit__wrap {
    width: 100%;
  }
  .pigspen__wrap .pigspen .pig {
    display: none;
  }
}
/*# sourceMappingURL=PigsPen.module.css.map */