.pigspen{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .credit__wrap {
    
        border: 1px solid #F3BA2F;
        border-radius: 10px;
        padding: 20px;
        width: 30%;

        .tabs {
            width: 100%;
        
            display: flex;
        
            .tab__one {
        
                color: white;
                width: 60%;
                height: 40px;
                cursor: pointer;
                border-bottom: 3px solid #333333;
                transition: 0.5s;
        
        
            p {
                    text-align: center;
                    font-size: 14px;
                }
            }
        
            .tab__one__active {
                border-bottom: 3px solid orange;
            }
        
            .tab__two {
                color: white;
                width: 50%;
                cursor: pointer;
                border-bottom: 3px solid #333333;
                transition: 0.5s;
        
                p {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        
            .tab__two__active {
                border-bottom: 3px solid orange;
            }
        }
    }
    .pig{
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 250px;

    }
}

@media screen and (max-width:768px) {
    .pigspen{

        padding: 50px 20px 20px 20px;
        .credit__wrap{
            width: 100%;
        }
    }
}