.range{
    display: flex;
    align-items: center;
    color: #888;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .slider{
    
            flex: 6;
            -webkit-appearance: none;
            width: 100%;
            cursor: pointer;
            height: 3px;
            border-radius: 5px;
            background: #424242;
            outline: none;
            &::-webkit-slider-thumb {
                // -webkit-appearance: none;
                // appearance: none;
                background: #121212;
                border-radius:50%;
                cursor: pointer;
                outline: 3px solid #F3BA2FE5;
            
            }
            // &::-webkit-slider-thumb {
            //     -webkit-appearance: none;
            //     appearance: none;
        
               
            // }
        
            // &::-moz-range-thumb {
               
            // }
        
    }
    .value{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        border: 1px solid #ffffff4d;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
        color: #FFFFFFDE;
    }
}

 input[type=range] {
    -webkit-appearance: none;
    background-color: #F3BA2F;;
    width: 200px;
    height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color:#F3BA2F;
    // opacity: 0.5;
    width: 16px;
    height: 16px;
}