.home{

    width: calc(100vw - 240px);
    padding-left: 60px;padding-right: 60px;
    padding-top: 50px;
    

    .home__farm{
        display: flex;

        .home__farm__one{

            width: 50%;
            h3{
                color: white;
                margin-bottom: 20px;
            }
            p{
                color: white;
                line-height: 30px;
                font-size: 14px;
            }
        }
        .home__farm__two{

            display: flex;
            justify-content: flex-end;
            width: 50%;

            img{
                height: 250px;
            }
        }
    }
}

@media screen and (max-width : 481px) {

    .home{
        width: 100%;

        .home__farm{
            flex-direction: column;
        }
        
    }
}