@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$col : red;
$boldFont : 'Poppins',
sans-serif;
$lightFont : 'Open Sans',
sans-serif;

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin center_modal {
    background: #221E16;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.8);
    z-index: 10000;
    padding: 20px;
    // visibility: hidden;
    transition: 0.3s;
    // opacity: 0;
}