@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$col : red;
$boldFont : 'Poppins',
sans-serif;
$lightFont : 'Open Sans',
sans-serif;

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}