.nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 100px;
    position: relative;
}

.menu{
    display: none;
}

.nav ul{
    list-style: none;
}

.nav__ul1{
    display: none;
}

.nav__ul1 li{
    margin-right: 30px;
}

.swap{
    color: white;
}

.logo{
    font-weight: 800;
    margin-bottom: 5px;
    /* background: -webkit-linear-gradient(#946003,#ead460); */
     background: -webkit-linear-gradient(#F2DE63, #946003);

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border{
    padding-left: 20px;
    padding-right: 20px;
}

.bottom{
    height: 2px;
    background: #F2DE63;
}

/* .nav__ul2{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    
} */

.nav__ul2 img{
    height :19px;
}

.wallet{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative
}

.wallet:hover .dropDown{
    visibility: visible;
}

.nav__ul3 p{
    color: white;
    margin: 0px 10px 0px 10px;
}

.dropDown{
    position: absolute;
    height: 50px;
    width: 200px;
    background: rgba(225, 225, 225, 0.08);
    top: 40px;
    right: 0px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
    transition: 0.5s;
}

.dropDown p{
    font-weight: 600;
    color: white;
    font-size: 14px;
}

.dropDown img{
    height: 20px;
}



@media screen and (max-width:768px) {
    
    .nav{
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav__ul1{
        display: none;
    }

    .nav__ul2 img {
        height: 14px;
    }
    .dropDown{
        background-color: #000000;
        border: 1px solid#F2DE63;
        /* border-image-slice: 1; */
        width: auto;
        height: auto;
        padding: 8px;
        border-radius: 8px;
        
    }
   
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .nav{
        padding-right: 20px;
        padding-left: 20px;
        
    }
}